{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main ">
    <div class="wrapper ">
        <div class="left-col ">
            
            <div class="status-wrapper">
                {% for post in all_posts %}
                <div class="status-card">
                    <div class="profile-pic"><img src="{{ post.image.url }}" alt=""></div>
                    <p class="username">{{ post.user.username }}</p>
                </div>
                {% endfor %}
            </div>


            {% for post in all_posts %}
            <div class="post border" >
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="{{ post.image.url }}"  alt=""></div>
                        <p class="username">{{ post.user.first_name }} {{ post.user.last_name }}</p>
                    </div>
                    <img src="{% static 'img/option.PNG' %}" class="options" alt="">
                </div>

                <!-- image div -->
                <div id="image_div" >
                    <img id="post_image" src="{{post.image.url}}"  class="post-image" alt="">
                </div>
                
                <div class="post-content">
                    <div class="reaction-wrapper">

                        {% if post.liked_by_user %}
                            <a href="{% url 'unlike' post.id %}">
                                <img src="{% static 'img/unlike.png' %}" class="icon" alt="">
                            </a>
                            {% else %}
                            <a href="{% url 'like' post.id %}">
                                <img src="{% static 'img/like.PNG' %}" class="icon" alt="">
                            </a>
                        {% endif %}
                            
                        <!-- <a href="{% url 'like' post.id %}">
                            <img src="{% static 'img/like.PNG' %}" class="icon" alt="">
                        </a> -->

                        <img src="{% static 'img/comment.PNG' %}" class="icon" alt="">
                        <img src="{% static 'img/send.PNG' %}" class="icon" alt="">
                        <img src="{% static 'img/save.PNG' %}" class="save icon" alt="">
                    </div>
                    
                    {% if post.likes %}
                    <p class="likes">{{ post.likes }} likes</p>
                    {% else %}
                    <p class="likes">0 likes</p>

                    {% endif %}
                        
                    <p class="description"><span>@{{post.user.username}} </span> {{post.caption}}</p>
                    <p class="post-time">{{ post.created_at }}</p>
                </div>
                <div class="comment-wrapper">
                    <img src="img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
            {% endfor %}


        </div>  <!--  end of lest-col -->
        
        <div class="right-col">
            <div class="profile-card">
                <div class="profile-pic">
                    <a href="{% url 'profile' %}">
                        
                        {% if profile.profile_image %}
                            <img src="{{ profile.profile_image.url }}" alt="">
                            {% else %}
                            <img src="{% static 'insta.png' %}" alt="img not found">
                        {% endif %}
                            
                    </a>
                </div>
                <div>
                    <a href="{% url 'profile' %}">
                        <p class="username">{{ request.user.first_name }} {{request.user.last_name}}</p>
                    </a>
                    <p class="sub-text">@{{request.user.username}}</p>
                </div>
                <button class="action-btn">switch</button>
            </div>


            <p class="suggestion-text">Suggestions for you</p>            
            
            {% if all_profile %}
            {% for prof in all_profile %}
                {% if prof.user != request.user %}
                <div class="profile-card">
                    <div class="profile-pic">
                        
                        {% if prof.profile_image %}
                        <img src="{{ prof.profile_image.url }}" alt="">
                            {% else %}
                            <img src="{% static 'insta.png' %}" alt="">
                        {% endif %}
                            
                    </div>
                    
                    <div>
                    <form action="/enter/other_user/" method="get">
                    <button type="submit" class="username btn btn-primary  " style="text-align: center; background: none;" name="other_user" value="{{ prof.user.id }}">{{ prof.user }}</button>
                    <p class="sub-text">followed by user</p>
                    </form>
                </div>

                    
                </div>
                
                {% endif %}

                {% endfor %}
            {% endif %}
            
            
            
        </div>
    </div>
</section>
{% endblock content %}